<ion-view view-title="תוצאות חיפוש">
  <label class="item item-input label-search">
      <button id="btn" class="button button-dark icon ion-search" ng-click="onclickfunc()" ng-disabled="!query.length"></button>
      <input type="text" title="query" dir="rtl" ng-model="query" ng-enter="onclickfunc()">
    </label>
  <ion-content class="search-result">
    <a ng-repeat="result in results" ng-show="results.length" ng-click="goToResult(result)" class="link-regulation">
            {{result.name}}
            <span ng-show="result.subTitle.length" class="search-subtitle">נמצאה תת כותרת: {{result.subTitle}}</span>
    </a>
    <span class="search-failed" ng-show="!results.length">לא נמצאו תוצאות לחיפוש</span>
  </ion-content>
</ion-view>
